.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.strick{
  text-decoration: line-through;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#register .container #register-row #register-column #register-box {
  margin-top: 20px;
  max-width: 600px;
  max-height: 690px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  box-shadow: 10px 10px 5px grey;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  max-height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  box-shadow: 10px 10px 5px grey;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}